body {
    background-color: #DFB8BB;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "navbar navbar navbar navbar navbar"
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #A292B3;
    height: 500px;
    width: 1200px;
    margin: 0px auto;
}

h1 {
    grid-area: h1;
    font-size: 50px;
    font-family:  Roboto, Arial;
    text-transform: uppercase;
    color: #e6e3e9;
    margin: 215px auto;
}

nav {
    grid-area: navbar;
    background-color: #1E81B1;
    height: 75px;
}

#home, #shop, #contact {
    font-size: 16px;
    font-family:  Roboto, Arial;
    text-transform: uppercase;
    color: #e6e3e9;
    margin: 10px 0px 10px 0px;
    padding: 0px 25px;
    text-decoration: none;
}

main-content {
    grid-area: main;
    background-color: #e6e3e9;
}

footer {
    grid-area: footer;
    background-color: #A292B3;
}

